* {
    margin: 0;
    padding: 0;
}

#form-container {
    padding-left: 10px;
    padding-right: 5px;
    height: 100%;
    background: #2c9fd1;
    color: white;
    font-size: 0.9em;
}

#input-container {
    top: 0px;
    position: sticky;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 7fr;
    column-gap: 0px;
    height: 100vh;
}

#content-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
}
.todo-container{
    margin: 20px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    background: white;
    color: #1a6180;
    border: 1px solid black;



    animation: slide-up 0.4s ease;
    transition: all 0.2s ease;
}
